<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577971703836-qjn5kk0g5p091mvjg09rb27vaci4tto6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577971703836-qjn5kk0g5p091mvjg09rb27vaci4tto6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>577971703836-pfm6m6lsva7n8kdopoi8k6opqelaedp8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEiVfQjiBjGKfwzUHgQSbyrpDjYeVe6CQ</string>
	<key>GCM_SENDER_ID</key>
	<string>577971703836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prototypeSs</string>
	<key>PROJECT_ID</key>
	<string>ss-project-final</string>
	<key>STORAGE_BUCKET</key>
	<string>ss-project-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577971703836:ios:dfa3d4614e7b1efb020fd9</string>
</dict>
</plist>